{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
<link rel="stylesheet" href="Accounts/style.css">

<title>WowPost</title>
</head>
<body style="background-color: #D4F2F4">

    <nav class="navbar navbar-expand-md navbar-dark mb-4" style="background-color:#2a2e3a">
        <a href="/home" class="navbar-brand"><img src="{% static 'images/general/Wow.png' %}" alt="logo" class="img-fluid" width="80px" height="100px"></a>

        <button class="navbar-toggler" data-toggle="collapse" data-target="#responsive"><span class="navbar-toggler-icon"></span></button>

        <div class="collapse navbar-collapse" id="responsive">
            <ul class="navbar-nav mr-auto text-capitalize">
                <li class="nav-item"><a href="/home" class="nav-link active">Home</a></li>
                <li class="nav-item"><a href="/create-post" class="nav-link active">Write post</a></li>
                <li class="nav-item">
                    <a href="{% url 'profile' user.id %}" class="nav-link active">Profile</a>
                </li>
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
            </ul>

            <a href="#" class="text-decoration-none" style="color:#CBE4F2;font-size:22px;"><i class="far fa-bell ml-3 d-none d-md-block"></i></a> 
            <img src="{{ profile_user.userimage.get_latest_profile_image_url }}" alt="" class="rounded-circle ml-3 d-none d-md-block" width="32px" height="32px">
        </div>
    </nav>  

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <div class="left-column">
                    <div class="card card-left1 mb-4" >
                        <img src="{{ profile_user.userimage.get_latest_background_image_url }}" alt="Add a cover photo!" class="card-img-top img-fluid">
                        <div class="card-body text-center ">
                            <img src="{{ profile_user.userimage.get_latest_profile_image_url }}" alt="Add a profile picture!" width="120px" height="120px" class="rounded-circle mt-n5">                                                                                                                                                                 
                            <h5 class="card-title">{{ profile_user }}</h5>

                            {% if is_own_profile %}
                            <ul class="list-unstyled nav justify-content-center">
                                <a href="{% url 'profile_image_update' %}" class="btn btn-primary mt-2">Update Images</a>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
            
                    <div class="card shadow-sm card-left2 mb-4">
                        <div class="card-body">
                            <h5 class="mb-3 card-title">About <small><a href="#" class="ml-1"></a></small></h5>                                                                                                                                                                         
                            <p class="card-text"> <i class="fas fa-calendar-week mr-2"></i> Went to <a href="#" class="text-decoration-none">{{ profile_user.school }}</a></p>
                            <p class="card-text"> <i class="far fa-building mr-2"></i> Work at <a href="#" class="text-decoration-none">{{ profile_user.work }} </a></p>
                            <p class="card-text"> <i class="fas fa-home mr-2"></i> Live in <a href="#" class="text-decoration-none">{{ profile_user.living_at }}</a></p>
                            <p class="card-text"> <i class="fas fa-map-marker mr-2"></i> From <a href="#" class="text-decoration-none">{{ profile_user.born_at }}</a></p>                                                                                                                            
                            
                            {% if is_own_profile %}
                                <a href="{% url 'profile_bio_update' %}" class="btn btn-primary mt-2">Update Bio Info</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="col-12 col-lg-6" >
                <div class="middle-column">
                    <div class="card shadow-sm card-left3 mb-4">
                        <div class="card-body">
                            <h5 class="card-title">{{ profile_user }}'s photos<small class="ml-2"><a href="#"></a></small></h5>
                            <div class="row justify-content-center">
                                {% for image_url in user_card_image_urls %}
                                <div class="col-5 p-1">
                                    <a data-lightbox="id"><img src="{{ image_url }}" alt="img" class="img-fluid my-2"></a> 
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        
  <br> <br> <br><br> <br> <br>
                
<div class="col-12 col-lg-3">
    <div class="right-column">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                    <div class="card-title d-flex justify-content-between align-items-center">
                        <input type="text" class="form-control form-control-sm" placeholder="Find friend">
                        <a href="#" class="ml-1"><small></small></a>
                    </div>
                    <div class="row no-gutters d-none d-lg-flex">
                        <div class="col-6 p-2">
                            <p class="card-text">
                                <p class="lead" style="font-size:18px;">Soon</p>
                            </p>
                        </div>
                        <!--
                        <div class="col-6 p-2">
                            <p class="card-text">
                                <p class="lead" style="font-size:18px;">Something a</p>
                            </p>
                        </div>-->
                    </div>
            </div>
            {% if is_own_profile %}
                <div class="card-footer">
                    <p class="lead" style="font-size:18px;">Settings</p>
                    <div class="col-6 p-2">
                        <p class="card-text" style="white-space: nowrap;">
                            <i class="fas fa-key mr-1"></i>
                            <a href="{% url 'password_reset_in' %}" class="text-decoration-none">Change Password</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>        
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
